<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>URL Shortener</title>
  </head>
<body>
  <h2 class="text-center my-5">Welcome to the URL Shortener!</h2>
  <div id="app" class="container">
    <div id="add-url-record-form" class="container"><add-url-record-form></add-url-record-form></div>
    <div id="recent-url-records" class="container"><url-record-list></url-record-list></div>
  </div>

<script src="https://unpkg.com/axios@0.21.0/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue@3.0.2/dist/vue.global.js"></script>
<script src="https://unpkg.com/mitt@2.1.0/dist/mitt.umd.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

<script>
function setVisibility(el, isVisible) {
    el.style.visibility = isVisible ? '' : 'hidden';
}

//const APP_PATH = 'http://127.0.0.1:8000/url/';
const APP_PATH = window.location.href;
const LIST_CREATE_API_PATH = APP_PATH + 'api/v1/urls';
const RETRIEVE_API_PATH = APP_PATH + 'api/v1/urls/';

const app = Vue.createApp({});
const emitter = mitt();
app.config.globalProperties.emitter = emitter;

const NEW_RECORD_CREATED_EVENT = 'new-record-created';

app.component('add-url-record-form', {
    data() {
        return {
            longUrl: '',
            shortUrl: '',
            availabilityMessage: '',
            title: 'Result',
            resultStatus: 'status',
            resultHtml: '&nbsp;',
        };
    },
    computed: {
        isInvalidShortUrl: function() {
            return this.availabilityMessage.startsWith('🚫');
        },
    },
    methods: {
        pressSubmit: async function(e) {
            e.preventDefault();

            const submitResult = document.getElementById('submit-result');
            setVisibility(submitResult, false);

            axios.post(LIST_CREATE_API_PATH, {
                long_url: this.longUrl,
                short_url: this.shortUrl,
            })
            .then(this.onCreateSucceeded, this.onCreateFailed)
            .catch(function(error) {
                console.log(error);
            }).then(() => setVisibility(submitResult, true));
        },
        onCreateSucceeded: function(response) {
            this.longUrl = response.data.long_url;
            this.shortUrl = response.data.short_url;

            const linkUrl = APP_PATH + this.shortUrl;
            this.title = 'Congratulation! Link created ✔';
            this.resultStatus = `${response.request.status} ${response.request.statusText}`;
            this.resultHtml = `<a href="${linkUrl}" target="_blank">${linkUrl}</a>`;
            setVisibility(document.getElementById('copy-button'), true);
            this.emitter.emit(NEW_RECORD_CREATED_EVENT);
            this.availabilityMessage = '';
        },
        onCreateFailed: function(response) {
            this.title = 'Oooooops! Sorry! 😭';
            this.resultStatus = `${response.request.status} ${response.request.statusText}`;
            this.resultHtml = `Failed to shorten URL with "${this.shortUrl}" 💔`;
            setVisibility(document.getElementById('copy-button'), false);
        },
        copyLinkToClipboard: function() {
            const textArea = document.createElement('textarea');
            textArea.value = APP_PATH + this.shortUrl;
            textArea.style.top = "0";
            textArea.style.left = "0";
            textArea.style.position = "fixed";
            document.body.appendChild(textArea);
            textArea.focus();
            textArea.select();

            let message = 'Oops, unable to copy!';
            try {
                if (document.execCommand('copy')) {
                    message = 'Copied!';
                }
            } catch (error) {
                console.log(error);
            }
            const el = document.getElementById('copy-message');
            el.innerText = message;
            setTimeout(() => el.innerText = '', 2000);

            document.body.removeChild(textArea);
        },
        checkShortUrlAvailability: function(e) {
            const inputedShortUrl = e.target.value;
            if (inputedShortUrl.length === 0) {
                this.availabilityMessage = '';
                return;
            }
            const matchResult = inputedShortUrl.match(/^[A-Za-z0-9]{0,32}$/) || [];
            if (matchResult.length === 0) {
                this.availabilityMessage = '🚫 Invalid pattern!';
                return;
            }
            this.availabilityMessage = '';

            axios.get(RETRIEVE_API_PATH, {
                params: {
                    short_url: inputedShortUrl,
                }
            })
            .then(function(response) {
                /* Record already exists, this short URL is unavailable */
                this.availabilityMessage = '🚫 Occupied!';
            }.bind(this))
            .catch(function(error) {
                if (error.message.endsWith('404')) {
                    /* 'Request failed with status code 404', this short URL is available */
                    this.availabilityMessage = '✔ Good';
                }
            }.bind(this));
        },
    },
    mounted() {
        document.getElementById('short-url').addEventListener('focus', this.checkShortUrlAvailability);
        document.getElementById('short-url').addEventListener('input', this.checkShortUrlAvailability);
    },
    delimiters: ['[[', ']]'],
    template: `
      <form method="post" @submit="pressSubmit">
        <div class="form-group row">
          <label for="long-url" class="col-sm-2 col-form-lable" style="padding-top: 6px;">Your URL</label>
          <input type="url" id="long-url" class="col-sm-10 form-control" name="long_url" v-model="longUrl" autofocus="true" maxlength="2048" placeholder="https://www.djangoproject.com" required>
        </div>
        <div class="form-group row">
          <label for="short-url" class="col-sm-2 col-form-label">Shorten to</label>
          <input type="text" id="short-url" class="col-sm-5 form-control" name="short_url" v-model="shortUrl" maxlength="32" pattern="[A-Za-z0-9]+" placeholder="Empty or [A-Za-z0-9]+">
          <span id="availability-message" class="form-text col-sm-5 text-muted">[[ availabilityMessage ]]</span>
        </div>
        <button type="submit" id="submit-button" class="btn btn-primary btn-lg" :disabled="isInvalidShortUrl">Shorten!</button> 
      </form>
      <div id="submit-result" class="card my-3" style="visibility: hidden;">
        <div class="card-body">
          <h4 class="card-title">[[ title ]]</h4>
          <p class="card-text">HTTP status:&nbsp;[[ resultStatus ]]</p>
          <p class="card-text"><span v-html="resultHtml"></span></p>
          <button id="copy-button" class="btn btn-success" @click="copyLinkToClipboard">Copy link to clipboard</button><span id="copy-message" class="ml-3"></span>
        </div>
      </div>
    `,
});

app.component('url-record-list', {
    data() {
        return {
            appPath: APP_PATH,
            urlRecordList: [],
            message: '',
        }
    },
    methods: {
        updateList: async function() {
            try {
                const response = await axios.get(LIST_CREATE_API_PATH);
                //console.log(response);
                this.urlRecordList = response.data;
                this.message = this.urlRecordList.length > 0 ? '' : '(Database is empty...)';
            } catch (error) {
                console.log(error);
                this.urlRecordList = [];
                this.message = 'Failed to retrieve data!';
            }
        }
    },
    mounted() {
        this.emitter.on(NEW_RECORD_CREATED_EVENT, () => this.updateList());
        this.updateList();
    },
    delimiters: ['[[', ']]'],
    template: `
      <ul v-if="urlRecordList.length" class="list-group">
        <li class="list-group-item active">Recent Activities of Database</li>
        <li v-for="record of urlRecordList" class="list-group-item">
          <a :href="appPath + record.short_url" target="_blank"> [[ record.short_url ]] </a>&nbsp;&nbsp;➜&nbsp;&nbsp;[[ record.long_url ]]&nbsp;&nbsp;<small>(visited [[ record.visit_count ]] times)</small>
        </li>
      </ul>
      <p v-else>[[ message ]]</p>
    `,
});

app.mount('#app');
</script>
  </body>
</html>